<ion-header id="titulo" [translucent]="true" class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title >
      Conecta 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="fichas">
          <ion-img id="circleYellow" [src]="'../../../assets/icon/circle_yellow.png'"></ion-img>
          <ion-img id="circleRed" [src]="'../../../assets/icon/circle_red.png'"></ion-img>
        </div>
        <div class="playGame">
          <ion-button expand="block">Jugar <ion-icon name="game-controller"></ion-icon></ion-button>
          <ion-button expand="block">Ajustes <ion-icon name="settings-sharp"></ion-icon></ion-button>
          <ion-button expand="block" href="https://github.com/MrVidMM">Github <ion-icon name="logo-github"></ion-icon></ion-button>
          <ion-button expand="block">Donar <ion-icon name="logo-paypal"></ion-icon></ion-button>
        </div>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div class="creditos">
    <p>Vid - Apps © 2022</p>
  </div>
</ion-footer>